* {
  margin: 0;
  padding: 0;
}
:root {
  --outline:1.2px solid black; 
  --green:#177D3C;
  --blue: #3B3EF2;
}
@font-face{
  font-family:'Arial Rounded';
  font-weight:600;
  src:url('assets/fonts/Arial-Rounded-Bold.ttf');
}

/* ====== Global ====== */
body {
  height:100vh;
  width:100vw;
  margin: 0;
  padding: 0;
  font-family: 'Arial Rounded';
  line-height:1.25;
  font-size:14px;
}

/*-----------------type styles---------------*/
h1{
  font-family:Helvetica, sans-serif;
  font-weight:800;
  letter-spacing:-1.5px;
  color:red;
  font-size:4.8rem;
  font-weight:800;
  line-height:.9;
  margin:8px;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black; 
  text-stroke-width: 1.2px;
  text-stroke-color: black;
}
h2{
  padding-bottom:8px;
}

/* ====== Body Layout ====== */
.metal-body {
  min-height:100vh;
  box-sizing:border-box;
  position:relative;
  padding:18px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 120px auto 42px;
  gap: 12px;
  background-size:cover;
  background-repeat:no-repeat;
  background:
    linear-gradient(
      180deg,
      #f0f0f0,
      #c8c8c8,
      #b5b5b5,
      #e0e0e0
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255,255,255,0.04) 0px,
      rgba(255,255,255,0.04) 1px,
      rgba(0,0,0,0.04) 2px,
      rgba(0,0,0,0.04) 3px
    );
}
/* ====== Header ====== */
.metal-header {
  padding: 10px;
  text-align: left;
  grid-column:1/span 2;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  background: linear-gradient(
    180deg,
    #eaeaea,
    #c8c8c8
  );

  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;

  box-shadow:
    inset 4px 4px 3px rgba(255,255,255,0.85),
    inset -4px -4px 3px rgba(0,0,0,0.5);
}

.metal-header .sticker{
  margin-right:6px;
  width:200px;
  height:100%;
}
.metal-header .sticker div{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding: 10px 20px 10px 20px;
  font-size:18px;
  line-height:1.2;
  background: var(--green);
}
/* ====== Panels ====== */
.metal-panel, .inset {
  padding: 12px;
  border-radius:4px;
  background: linear-gradient(
    180deg,
    #dcdcdc,
    #bdbdbd
  );

  box-shadow:
    inset -2px -2px 4px rgba(0,0,0,0.5),
    inset 2px 2px 4px rgba(255,255,255,1);
}
/* Inset panel*/
.inset {
  box-sizing:border-box;
  padding:18px 18px 18px 18px;
  background: linear-gradient(
    180deg,
    #d2d2d2,
    #a8a8a8
  );

  box-shadow:
    inset -3px -3px 5px rgba(255,255,255,0.85),
    inset 3px 3px 5px rgba(0,0,0,0.5);
}
/*-------beveled-------*/
.button-bevel{
  margin:-1px;
  padding:18px 18px 18px 18px;
  border-radius:4px;
  background: linear-gradient(
    215deg,
    #c5c5c5,
    #d2d2d2
  );

  box-shadow:
    inset 4px 4px 3px rgba(255,255,255,0.85),
    inset -4px -4px 3px rgba(0,0,0,0.5);
}
/*---------stickers----------*/
.sticker{
  padding:4px;
  border-radius:120px;
  color:white;
  box-sizing:border-box;
}
.sticker div{
  display:flex;
  align-items:center;
  text-align:center;
  line-height:1.3;
  width:100%;
  height:100%;
  box-sizing: border-box;
  overflow:wrap;
  border-radius:120px;
  font-family: cursive;
  border:1.2px black solid;
}
/*---------------left panel(s)------------*/
.panel-left{
  grid-column:1;
}
.gigs, .gif{
  margin-top:12px;
}
.gif{
  padding:4px;
  height:auto;
  overflow:hidden;
}
.gif img{
  width:100%;
  height:100%;
  overflow:hidden;
}
/*------------------grid------------*/
.grid{
  grid-column:2/span 2;
  border-top-right-radius: 60px;
  grid-row:2;
  margin-top:10px;
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.grid-item, .grid-item--width2{
  text-align:center;
}
.grid h2{
  padding-right:24px;
}
.grid-item{
  border-radius:2px;
  box-sizing:border-box;
  width:140px;
  padding: 8px 8px 12px 8px;
  margin-bottom:12px;
}
.grid-item--width2 { width: 280px; }
.grid-item--width3 { width: 420px; }
.grid-item--width4 { width: 560px; }

.grid-item img{
  position:relative;
  width:100%;
  padding-bottom:4px;
}
.library.sticker{
  border-radius:2px;
}
.library.sticker div{
  text-align:left;
  font-family:'Times New Roman', serif;
  color:#F5F5F5;
  padding:10px 0px 0px 12px;
  border-radius:0px;
  background:var(--blue);
}
.library h2{
  font-weight:500;
  font-size:24px;
}
.opensource{
  padding:4px;
  border-radius:2px;
  font-family:'Times New Roman';
  line-height:1.1;
  text-align:left;
  font-size:16px;
}
.opensource div{
  border:1.5px solid black;
  background:white;
  padding:10px;
  box-sizing:border-box;
}
/* ====== Footer ====== */
.metal-footer {
  border-radius:2px;
  padding: 4px;
  height:42px;
  text-align: left;
  grid-column:1/span 2;
}
.footer-links{
  padding:8px 8px 8px 8px;
  background:yellow;
  border:1.2px black solid;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
.footer-links span:nth-of-type(3){
  padding-right:4px;
}

/*----------------------media queries-----------------------*/
@media screen and (max-width: 850px){
    h1{
    font-size:58px;
  }
  .metal-body{
    display:flex;
    flex-direction:column;
  }
  .metal-header{
    height:auto;
    z-index:100;
  }
 .metal-panel:has(.grid){
  padding:12px;
 }
  .grid{
    display:flex;
    flex-direction:column;
  }
  /*-------rearrange sidebar-------*/
  .panel-left{
    display:flex;
    flex-direction:row;
  }
  .stockists, .gigs{
    margin-right:10px;
  }
  .gigs, .gif{
    margin-top:0;
  }

  .metal-footer{
    height:84px;
  }
  .footer-links{
    flex-direction:column;
  }
  .footer-links span:first-of-type{
    margin-top:8px;
    order:3;
    text-align:center;
  }
}

@media screen and (max-width: 750px){
.panel-left{
  flex-wrap:wrap;
  margin-top:64px;
}
.gigs, .stockists{
  flex-grow:1;
}
.gigs{
  margin-right:0;
}
.gif{
  margin-top:10px;
  width:100%;
}
.metal-header{
  display:block;
}
  .metal-header .sticker{
    position:absolute;
    box-sizing:border-box;
    left:18px;
    top:102px;
    margin-top:12px;
    height:60px;
    width:calc(100% - 36px);
    margin:16px 0px 0px 0px;
    border-radius:4px;
  }
  .metal-header .sticker div{
    padding:10px;
    border-radius:2px;
  }
  .metal-header span{
    width:100%;
    text-align:left;
  }
  .metal-header span:nth-of-type(2){
    display:none;
  }
}
@media screen and (max-width: 500px){
.metal-header{
  padding-right:20px;
}
.metal-header .sticker{
  top:152px;
}
.panel-left{
  flex-direction:column;
}
  .gigs{
    margin-top:10px;
  }
  .stockists{
    margin-right:0;
  }
}