* {
  margin: 0;
  padding: 0;
}

/*-----------------------------------------universal type styles--------------------*/
h1{
    font-size:3em;
    padding-bottom:0px;
}
h2{
    padding:6px;
}
a{
    color:lightsalmon;
}
/*---------------------------------------------------- background video---------------------------------*/
.bg-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

/* video element */
.bg-container video {
  width: 100vw;
  height: 100vh; 
  object-fit: cover; 
}

/* overlay for readability */
.bg-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0; 
}

/*--------------------------------------------------main content--------------------------------------*/
.main{
    position:absolute;
    color:white;
    width:100vw;
    text-align:center;
    top:50%;
    transform:translateY(-52%);
}
.description, .stockists{
    padding-bottom:12px;
}
/*---------------------------------------------------footer-------------------------------------------*/
.footer{
    width:100vw;
    position:fixed;
    text-align:center;
    vertical-align:bottom;
    bottom:30px;
}