* {
  margin: 0;
  padding: 0;
}

/*-----------------------------------------universal type styles--------------------*/
body{
   color:#FFEB6B;
   text-shadow: 0px 0px 2px #000000;
   font-size:1em;
}
h1{
    font-size:3.2em;
    margin-bottom:0px;
    letter-spacing:-1;
}
h2{
  font-size:1.8em;
    padding:6px;
}
a{
    color: #6C8EFF;
}
/*---------------------------------------------------- background video---------------------------------*/
.bg-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

/* video element */
.bg-container video {
  width: 100vw;
  height: 100vh; 
  object-fit: cover; 
}

/* overlay for readability */
.bg-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0; 
}

/*--------------------------------------------------main content--------------------------------------*/
.main{
    position:absolute;
    width:100vw;
    text-align:center;
    top:50%;
    transform:translateY(-52%);
}
.main span{
}
.stockists{
  margin-top:18px;
}
.description, .stockists{
    padding-bottom:12px;
}
/*---------------------------------------------------footer-------------------------------------------*/
.footer{
    width:100vw;
    position:fixed;
    text-align:center;
    vertical-align:bottom;
    bottom:30px;
}