* {
  margin: 0;
  padding: 0;
}
:root {
  --outline:1.2px solid black; 
  --green:#177D3C;
  --blue: #3B3EF2;
  --gap:10px;
  --half-gap:5px;
}
@font-face{
  font-family:'Arial Rounded';
  font-weight:600;
  src:url('assets/fonts/Arial-Rounded-Bold.ttf');
}

/* ====== Global ====== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial Rounded';
  line-height:1.25;
  font-size:14px;
  box-sizing:border-box;
}

/*-----------------type styles---------------*/
h1{
  font-family:Helvetica, sans-serif;
  font-size:4.8rem;
  line-height:.9;
  font-weight:800;
  letter-spacing:-1.5px;
  color:red;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black; 
  text-stroke-width: 1.2px;
  text-stroke-color: black;
  
}
h2{
  padding-bottom:8px;
}

/* ====== Body Layout ====== */
.metal-body {
  box-sizing:border-box;
  padding:18px;
  display: grid;
  height:100vh !important;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--gap);
  background-size:cover;
  background-repeat:no-repeat;
  background:
    linear-gradient(
      180deg,
      #f0f0f0,
      #c8c8c8,
      #b5b5b5,
      #e0e0e0
    ),
    repeating-linear-gradient(
      90deg,
      rgba(255,255,255,0.04) 0px,
      #ffffff0a 1px,
      rgba(0,0,0,0.04) 2px,
      rgba(0,0,0,0.04) 3px
    );
}

/* ======================== Header ============================ */
.header {
  padding:var(--gap);
  text-align: left;
  grid-column:1/span 2;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  border-top-right-radius: 120px !important;
  border-bottom-right-radius: 120px !important;
  border-top-left-radius:var(--half-gap);
  border-bottom-left-radius:var(--half-gap);

  box-shadow:
    inset 4px 4px 3px rgba(255,255,255,0.85),
    inset -4px -4px 3px rgba(0,0,0,0.5);
}
.header .sticker{
  margin-right:var(--gap);
  width:200px;
  height:100%;
}
.header .sticker div{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding: 10px 24px 10px 24px;
  font-size:16px;
  line-height:1.05;
  text-transform:uppercase;
  background: var(--green);
}
.header span:nth-of-type(2){
  margin-top:4px;
}

.header div:has(h1){
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:start !important;
  gap:var(--half-gap);
}
/*========================about========================*/
/*------about button------*/
.about-btn{
  border-radius:120px !important;
  padding:4px !important;
  cursor:pointer;
}
.about-btn div{
  position:relative;
  padding:5px 15px 5px 15px;
  border-radius:120px;
  border:var(--outline);
  height:100%;
  background:yellow;
}
.about-btn h2{
  padding-bottom:0;
}

/*---------------'about' popup----------------*/
#about {
    display: none;
    position: fixed;
    z-index: 101;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,.5));
    padding:var(--gap);
    height: min-content;
    width:60vw;
    max-height:60vh;
    overflow-y:scroll;
    box-sizing:border-box;
    margin-bottom:0;
}
.active {
    display:inline-block !important;
}
#about .nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
#about .inset{
  padding:var(--half-gap);
}
#about .content{
  border:var(--outline);
  padding:var(--gap);
  background:whitesmoke;
}
#about .content p{
  margin-bottom:12px;
}
#about .content p:last-of-type{
  margin-bottom:0px;
}
#close-popup-btn{
  cursor:pointer;
  padding:4px;
  margin-bottom:var(--gap)
}
#close-popup-btn div{
  text-align:center;
  padding:4px 10px 6px 10px;
  border:var(--outline);
  background: whitesmoke;
}
/* ====---------------== Panels ===----------------=== */
.panel{
  padding: var(--gap);
  border-radius:var(--half-gap);
  background: linear-gradient(
    180deg,
    #dcdcdc,
    #bdbdbd
  );

  box-shadow:
    inset -2px -2px 4px rgba(0,0,0,0.5),
    inset 2px 2px 4px rgba(255,255,255,1);
}
/*----- Inset panel------*/
.inset {
  box-sizing:border-box;
  padding:14px;
  background: linear-gradient(
    180deg,
    #d2d2d2,
    #a8a8a8
  );

  box-shadow:
    inset -3px -3px 5px rgba(255,255,255,0.85),
    inset 3px 3px 5px rgba(0,0,0,0.5);
}
/*-------beveled panel------*/
.raised{
  padding:18px 18px 18px 18px;
  border-radius:var(--half-gap);
  background: linear-gradient(
    215deg,
    #c5c5c5,
    #d2d2d2
  );

  box-shadow:
    inset 4px 4px 3px rgba(255,255,255,0.85),
    inset -4px -4px 3px rgba(0,0,0,0.5);
}
/*---------stickers----------*/
.sticker{
  padding:var(--half-gap);
  border-radius:120px;
  color:white;
  box-sizing:border-box;
  font-family:'Times New Roman', Times, serif;
  font-weight:550;
}
.sticker div{
  display:flex;
  align-items:center;
  text-align:center;
  line-height:1.1 !important;
  letter-spacing:.2px;
  font-weight:500;
  width:100%;
  height:100%;
  box-sizing: border-box;
  overflow:wrap;
  border-radius:120px;
  border:1.2px black solid;
}
/*---------------sidebar------------*/
.sidebar{
  grid-column:1;
  display:flex;
  flex-direction:column;
  gap:var(--gap);
}
.gif{
  padding:var(--half-gap);
  height:auto;
  overflow:hidden;
}
.gif img{
  width:100%;
  height:100%;
  border:var(--outline);
}
/*------------------grid------------*/
div:has(.grid){
  overflow-y:scroll;
}
.grid{
  grid-column:2/span 2;
  grid-row:2;
  margin-top: var(--gap);
  width:100%;
  height:auto;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.grid-item, .grid-item--2, .grid-item--3, .grid-item--4{
  text-align:center;
}
.grid h2{
  padding-right:24px;
}
.grid-item{
  border-radius:2px;
  box-sizing:border-box;
  padding: 8px 8px 12px 8px;
  margin-bottom:var(--gap);
}
.grid-item--2 { height: auto; }
.grid-item--3 { width: auto; }
.grid-item--4 { width: auto; }

.grid-item img{
  position:relative;
  width:100%;
  padding-bottom:var(--half-gap);
}
.library.sticker{
  border-radius:2px;
}
.library.sticker div{
  text-align:left;
  color:#F5F5F5;
  padding:10px 0px 0px 12px;
  border-radius:0px;
  background:var(--blue);
}
.library h2{
  font-size:24px;
  font-weight:550;
}
.opensource{
  padding:var(--half-gap);
  border-radius:2px;
  font-family:'Times New Roman';
  line-height:1.1;
  text-align:left;
  font-size:16px;
}
.opensource div{
  border:1.5px solid black;
  background:white;
  padding:10px;
  box-sizing:border-box;
}
/* ====== Footer ====== */
.footer {
  display:inline-block;
  border-radius:2px;
  padding: var(--half-gap);
  height:auto;
  text-align: left;
  grid-column:1/span 2;
}
.footer-links{
  padding:8px 8px 8px 8px;
  background:yellow;
  border:1.2px black solid;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:auto;
}
.footer-links span:nth-of-type(3){
  padding-right:var(--half-gap);
}

/*----------------------media queries-----------------------*/
@media screen and (max-width: 890px){
    h1{
    font-size:58px;
  }
  .metal-body{
    display:flex;
    flex-direction:column;
    height:100% !important;
    min-height:100vh !important;
  }
  .header{
    height:auto;
    z-index:100;
  }
 .panel:has(.grid){
  padding:var(--gap);
 }
 .header div:has(h1){
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  gap:var(--half-gap);
}
  .grid{
    display:flex;
    flex-direction:column;
  }
  /*-------rearrange sidebar-------*/
  .sidebar{
    flex-direction:row;
    flex-wrap:wrap;
  }
.gigs, .stockists{
  flex-grow:1;
}
.gif{
  display:none;
}

  .footer-links{
    flex-direction:column;
  }
  .footer-links span:first-of-type{
    margin-top:8px;
    order:3;
    text-align:center;
  }
}

@media screen and (max-width: 750px){
.header{
  display:block;
}
.sidebar{
  margin-top:72px;
}
  .header .sticker{
    position:absolute;
    box-sizing:border-box;
    left:18px;
    top:102px;
    margin-top:var(--gap);
    height:60px;
    width:calc(100% - 36px);
    margin:16px 0px 0px 0px;
    border-radius:var(--half-gap);
  }
  .header .sticker div{
    padding:var(--gap);
    border-radius:2px;
    font-size:20px;
    letter-spacing:1px;
    width:100%;
    flex-direction:row;
    justify-content:space-between;
  }
  .header span{
    text-align:left;
  }
  .header span:nth-of-type(2){
    margin-top:-4px;
    text-align:right;
  }
  #about{
    width:84vw;
    max-height:60vh;
  }
}
@media screen and (max-width: 540px){
.header{
  padding-right:28px;
  border-bottom-right-radius: var(--half-gap) !important;
}
.header .sticker{
  top:154px;
}
.sidebar{
  flex-direction:column;
}
  .header span:nth-of-type(2){
    display:none;
  }
#about{
  width:calc(100% - 36px);
  max-height:80vh;
}
}